omegaconf
PyQt5
SoundFile
torchaudio
munch
torch
pyyaml
librosa
nltk
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
gruut
eng_to_ipa
